<div id='alert' class='alert-wrapper'>
  <div class='alert-overlay'></div>
  <div class='alert'>
    <div class='alert-header'>
      {{title}}

      <div class='alert-close' id='close-alert' title='{{close}}'>
        <svg xmlns='http://www.w3.org/2000/svg' viewBox='4.41 4.41 7.73 7.71'><path
            d='M11.778 4.707a1 1 0 0 0-1.414 0l-2.11 2.111-2.062-2.06a1 1 0 0 0-1.414 1.414l2.06 2.06-2.13 2.132a1 1 0 1 0 1.413 1.414l2.132-2.132 2.182 2.182a1 1 0 0 0 1.414-1.414L9.667 8.232l2.111-2.11a1 1 0 0 0 0-1.415Z'
          /></svg>
      </div>
    </div>

    <div class='alert-content'>{{text}}</div>
  </div>
</div>